<ul>
	<li><p>Control Panel</p></li>
	<li><%= link_to "New Employee", new_employee_path %></li>
	<li><p>Teams</p></li>
	<li><%= link_to "Sarah's Team", sarah_team_path %></li>
	<li><%= link_to "QNS Team", qns_team_path %></li>
	<li><%= link_to "Wet Ones", wet_ones_path %></li>
</ul>