<div class="pageHeader">
	<%= render 'employee_side_panel' %>
</div>
</div>
<div class="pageContent">
	<div class="employeeShow">
		<p class="employeeShowName"><%= link_to "#{@employee.name}", @employee %></p>
		<div class="employeeShowSection">
			<p class="employeeShowSectionHeader">Locations Worked: <%= @directions.size %></p>
			<ol>
				<%= render partial: 'employee_direction', collection: @directions, as: :direction %>
			</ol>
		</div>
	</div>
</div>