<div class="pageHeader">
	<ul>
		<li><p>Control Panel</p></li>
	</ul>
</div>
<div class="pageContent">
	<p class="pageContentHeader">Undo History</p>
	<div class="undoList">
		<ol>
			<%= render @undos %>
		</ol>
	</div>
</div>