<div class="employeeDash">
	<div class="employeeDashName">
		<%= link_to "#{employee.last_name}, #{employee.first_name}", employee %>
	</div>
	<div class="employeeDashInfo">
		<div class="employeeDashTier">
			<p>Tier <%= employee.tier %></p>
		</div>
		<div class="employeeDashJob">
			<p>Last Job:</p>
			<% if employee.assignments.first.nil? %>
				<p>N/A</p>
			<% else %>
				<p><%= Job.find(employee.assignments.first.job_id).name %></p>
				<p><%= employee.assignments.first.created_at.strftime("%a, %m-%d-%y") %></p>
			<% end %>
		</div>
	</div>
</div>