.pageHeader {
	background: rgb(245, 245, 245);
	float: left;
	height: 100%;
	padding: 40px 0;
	width: 240px;
}

.pageHeader a {
	color: rgb(100, 100, 100);
	display: block;
	font-size: 14px;
	padding: 10px 20px;
}

.pageHeader a:hover {
	background: rgb(225, 225, 225);
}

.pageHeader ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pageHeader ul li:first-child p {
	padding: 0px 20px 10px 20px;
}

.pageHeader p {
	font-size: 14px;
	font-weight: bold;
	padding: 10px 20px;
}

.pageHeader ul li {
	
}

.pageContent {
	margin-left: 250px;
	min-width: 900px;
	padding: 40px 10px;
}

.pageContentHeader {
	font-size: 28px;
	padding: 0 0 20px 0;
}