.dashboardHeader {
	font-size: 28px;
	font-weight: bold;
	padding: 20px 0 0 0;
	text-align: center;
}

.dashboard {
	margin: 0 auto;
	padding: 20px 0;
	width: 1000px;
}

#leftLab {
	float: left;
}

#rightLab {
	float: right;
}

.dashboardLab .station:first-child {
	margin: 0;
}

.station {
	background: rgb(245, 245, 245);
	border: 1px solid rgb(180, 180, 180);
	margin: 40px 0 0 0;
	height: 150px;
	width: 300px;
}

.seat {
	height: 36px;
	width: 150px;
}

.seat a {
	display: block;
	font-size: 12px;
	height: 16px;
}

.seat1 a, .seat3 a {
	padding: 10px 5px 10px 10px;
}

.seat2 a, .seat4 a {
	padding: 10px 10px 10px 5px;
}

.seat1, .seat3 {
	float: left;
}

.seat2, .seat4 {
	float: right;
	text-align: right;
}

.stationName {
	float: left;
	height: 78px;
	width: 100%;
}

.stationName p {
	height: 30px;
	font-size: 28px;
	padding: 24px 0;
	text-align: center;
}

.divider {
	background: rgb(235, 235, 235);
	border: 1px solid rgb(180, 180, 180);
	margin: 0 auto;
	width: 300px;
}

.dividerLab {

}

#station8 {
	height: 150px;
	width: 300px;
}

#station9 {
	float: right;
}