/* Employee partial */
.employeeSingle {
	border-top: 1px dotted rgb(200, 200, 200);
}

.employeeSingle:hover {
	background: rgb(245, 245, 245);
}

.employeeLink {
	display: block;
	height: 86px;
	position: absolute;
	width: 650px;
}

.employeeSingleName {
	font-size: 14px;
	margin: 0 0 5px 0;
	padding: 10px 20px 0 20px;
}

.employeeSingleStats {
	font-size: 12px;
	padding: 0 20px 10px 20px;
}

.employeeSingleLabel {
	float: left;
	margin-right: 3px;
	width: 60px;
}

.employeeSingleData {
	float: left;
}

/* Employee index */
.employeesHeader {
	font-size: 28px;
	padding: 0 0 20px 0;
}

.allEmployees {
	float: left;
	width: 650px;
}