.header {
	background: rgb(37, 141, 200);
	height: 45px;
	text-align: center;
	width: 100%;
}

.header .logo {
	float: left;
}

.header .logo a {
	display: block;
	padding: 2px 2px 2px 20px;
	height: 41px;
	width: 254px;
}

.header .logo a:hover {
	background: none;
}

.logo img {
	height: 41px;
	width: 254px;
}

.header ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header ul li {
	display: inline;
}

.header a {
	color: rgb(255, 255, 255);
	float: left;
	font-size: 15px;
	padding: 14px 10px;
}

.header a:hover {
	background: rgb(32, 124, 202);
}
