.lab {
	float: left;
}

.office {
	float: right;
}

.lab, .office {
	width: 49%;
}

.locationHeader {
	font-size: 28px;
	padding: 0 0 20px 0;
	text-align: center;
}

.locationData {
	padding: 0 0 0 5px;
	margin: 0 0 20px 0;
}

.locationData p {
	font-size: 14px;
}

.locationEmployee {
	float: left;
}

.locationEmployee a {
	display: block;
	font-size: 14px;
	padding: 5px;
	width: 150px;
}

.locationEmployeeWorked {
	padding: 0 5px 5px 5px;
}

.locationEmployeeWorked p {
	font-size: 11px;
}