html, body {
	height: 100%;
}

body {
	margin: 0;
}

.wrapper {

}

.content {
	
}

p {
	color: rgb(75, 75, 75);
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

a {
	color: rgb(48, 157, 207);
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

.clear {
	height: 0;
	font-size: 1px;
	margin: 0;
	padding: 0;
	line-height: 0;
	clear: both;
}

.errorExplanation ul {
	padding: 0 0 0 20px;
	margin: 0 0 20px 0;
}

.errorExplanation ul li {
	color: rgb(255, 25, 0);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 5px;
}

.grey {
	color: rgb(150, 150, 150);
}

.flash {
	font-family: Verdana;
	font-size: 14px;
	padding: 10px;
}

.success {
	background: rgb(230, 239, 194);
	border: 1px solid rgb(110, 220, 90);
	color: rgb(38, 68, 9);
}

.error {
	background: rgb(251, 227, 228);
	border: 1px solid rgb(255, 26, 0);
	color: rgb(138, 31, 17);
}

.notice {
	background: rgb(255, 246, 191);
	border: 1px solid rgb(255, 211, 36);
	color: rgb(81, 71, 33);
}