/*
.dashboard {
	padding: 10px;
}

.dashboardHeader {
	font-size: 28px;
}

.dashboardLab, .dashboardOffice {
	width: 50%;
}

.dashboardLab {
	float: left;
}

.dashboardLabHeader, .dashboardOfficeHeader {
	padding: 20px 0;
}

.dashboardOffice {
	float: right;
}

.dashboardOfficeHeader {
	text-align: right;
}

.employeeDash {
	float: left;
}

.dashboardLab .employeeDash {
	float: left;
}

.dashboardOffice .employeeDash {
	float: right;
}

.employeeDash {
	height: 100px;
	margin: 5px;
	width: 200px;
}

.employeeDashName a {
	display: block;
	font-size: 14px;
	padding: 5px;
}

.employeeDashInfo {
	padding: 5px;
}

.employeeDashInfo p {
	font-size: 12px;
}
*/